.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    height: var(---default-layout-header-height, 60px); // ko cos biến nó lấy gt mặt định là 60px
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(---default-layout-width, 1150px);
    display: flex;
    padding: 0 var(---default-layout-horizontal-spacer);
    align-items: center;
    justify-content: space-between;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}
.more-btn {
    font-size: 16px;
    color: #0c0c0c;
    margin-left: 20px;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}
.action-btn {
    background-color: transparent;
    font-size: 2rem;
    color: #161823;
    padding: 8px 10px 0;
    cursor: pointer;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
